nav{
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0px;
    top: 0px;    
    background: #8EC3B0;
    font-weight: 600px;
}

nav .content .logo img{
    width: 80px;
    height: 90px;
    cursor:pointer;
}

h2 {
    text-align: justify;
    font-family: sans-serif;
    font-style: normal;
    font-weight:  700;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
    line-height: 38px;
    color: #383838;
  }

#tanggal{
    font-weight: 700;
    color: #383838;
    font-size: 15px;
    font-family:sans-serif;
  }

#waktu{
    font-weight: 700;
    color: #383838;
    font-size: 15px;
    font-family:sans-serif;
}  
.number .card{
    background-color: #9ED5C5;
    width: 100%;
}

.card{
    background-color: #BCEAD5;
    width: 100%;
}

.card-body .antrian {
    height: 15px;
    line-height: 15px;
}

.card-body .tujuan {
    height: 15px;
}

.card-body .nomor {
    height: 30px;
}
iframe {
    border-radius: 5px;
  }

.card-body .perekaman{
    height: 10px;
}  

.card-body .ktp{
    height: 10px;
}  

.card-body .kia{
    height: 10px;
} 

.card-body .akta{
    height: 10px;
} 

.card-body h6{
    font-size: 15px;
    text-align: center;
    font-family: sans-serif;
    color: #383838;
    font-weight: 700;
}  

.card-body h4{
    text-align:center;
    color: #383838;
    line-height: 15px;
    width: 100%;
    font-weight: 700;
    font-family: sans-serif;
    
}

.card-body h3{
    text-align: center;
    color: #383838;
    width: 100%;
    overflow: hidden;
}

/* layar jenis antrian*/

header{
    background-color: #DEF5E5;
    width: 100%;
    height: 40px;
}

header h5{
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
    color: #383838;
    line-height: 40px;
    letter-spacing: 1px;
    font-weight: 500px;
}

.button{
    width: 350px;
    height :120px;
}

.button a{
    color: #383838;
    background-color:#9ED5C5;
    font-family: sans-serif;
    font-weight: 600;
    box-shadow: -0 8px 15px 0 #9ED5C5;
}

@media screen and (max-width: 600px) {
    .logo h2 {
      font-size: 12px;
      line-height: 15px;
      word-spacing:1px;
      margin-top: 10px;
    }

    nav .content .logo img{
        width: 60px;
        height: 70px;
        /* padding-bottom:1px; */
        cursor:pointer;
    }

    #tanggal{
        font-weight: 700;
        color: #383838;
        font-size: 10px;
        font-family:sans-serif;
      }
    
    #waktu{
        font-weight: 700;
        color: #383838;
        font-size: 10px;
        font-family:sans-serif;
    } 
} 


    @media screen and (min-width: 601px) {
        .logo h2 {
            font-size: 13px;
            line-height: 20px;
            word-spacing:1px;
            margin-top: 15px;

          }
      
          nav .content .logo img{
              width: 70px;
              height: 80px;
              /* padding-bottom:1px; */
              cursor:pointer;
          }
      
          #tanggal{
              font-weight: 700;
              color: #383838;
              font-size: 11px;
              font-family:sans-serif;
            }
          
          #waktu{
              font-weight: 700;
              color: #383838;
              font-size: 11px;
              font-family:sans-serif;
          }  
      }
  